body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--light-color);
}

.wrapper {
  padding-top: 100px;
}

.auth-logo {
  width: 40px;
}

.auth-form a {
  font-size: 0.9em;
  color: var(--primary-color);
  text-decoration: none;
}

.auth-form span {
  font-size: 0.9em;
}

.d-content {
  width: 95%;
  float: right;
}

.main-content {
  margin-top: 80px;
}

.navbar-dashboard {
  width: 95%;
  left: 5%;
}

.icon-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 1.1em;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 5%;
  height: 100vh;
  background-color: var(--primary-color);
  z-index: 2000;
}

.menu {
  margin-top: 80px;
  position: relative;
  padding: 20px;
}

.menu ul {
  padding-left: 0;
}

.menu ul li {
  margin-bottom: 35px;
  border-radius: 6px;
  text-align: center;
}

.menu ul li i {
  color: rgb(255, 255, 255);
  font-size: 20px;
  opacity: 0.6;
  line-height: 0;
}

.menu ul li:hover i {
  color: rgb(255, 255, 255);
  opacity: 1;
}

.card-title {
  padding: 18px;
  border-radius: 8px;
  background-color: var(--light-color-shade) !important;
}

.card-title h5 {
  color: var(--dark-color);
  font-size: 1.2em;
}

.card-title .tile-title {
  font-size: 0.9em;
}

.list-group-item h6 {
  font-size: 0.9em !important;
}

.jobs-card {
  height: 276px;
  overflow-y: hidden;
}

.simplebar-scrollbar:before {
  background-color: rgb(90, 90, 90) !important;
}
